@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/Robotobold.woff2") format("woff2"),
       url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../fonts/Robotomedium.woff2") format("woff2"),
       url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/Roboto.woff2") format("woff2"),
       url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

.svg-sprite {
  display: none;
}

.index-wrapper {
  width: 100%;

  background-image: url(../img/decor/bg-slide-1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	overflow: hidden;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  vertical-align: middle;
  max-width: 290px;
  padding-top: 8px;
  padding-left: 21px;
  padding-bottom: 12px;
  padding-right: 21px;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;

  background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

  background-image: -webkit-linear-gradient(left, #e74a35, #f26843);

  background-image: -o-linear-gradient(left, #e74a35, #f26843);

  background-image: linear-gradient(90deg, #e74a35, #f26843);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(left, #f58669, #ec6f5e);
  background-image: -o-linear-gradient(left, #f58669, #ec6f5e);
  background-image: linear-gradient(90deg, #f58669, #ec6f5e);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#d74531), to(#e1613e));
  background-image: -webkit-linear-gradient(left, #d74531, #e1613e);
  background-image: -o-linear-gradient(left, #d74531, #e1613e);
  background-image: linear-gradient(90deg, #d74531, #e1613e);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

.page-header {
  position: relative;
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9px;
  padding-right: 27px;
  padding-left: 27px;
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 586px;
  margin-right: 26px;
}

.page-header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 267px;

  text-align: right;
}

.page-header__schedule {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.page-header__tel {
  margin: 0;
  margin-right: -3px;

  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 12px;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  position: relative;

  padding-bottom: 6px;

  outline: none;
}

.main-nav__link {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 6px;
  padding-right: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 15px;
  outline: none;

  -webkit-transition: all 0.2s ease-in-out;

  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}

.main-nav__link::after {
  content: "";
  display: block;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__link[href]:hover,
.main-nav__link[href]:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.main-nav__link[href]:active {
  color: #333333;

  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.main-nav__link--active {
  background-color: #d07058;
}

.main-nav__link:hover::after,
.main-nav__link:focus::after,
.main-nav__link:active::after,
.main-nav__link--active::after {
  background-color: transparent;
}

.main-nav__dropdown-list {
  position: absolute;
  top: 39px;
  left: -7px;
  z-index: 2;

  width: 143px;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  list-style: none;
  visibility: hidden;

  overflow: hidden;
}

.main-nav__item:hover > .main-nav__dropdown-list,
.main-nav__dropdown-list:hover {
  visibility: visible;
}

.main-nav__item:focus-within > .main-nav__dropdown-list {
  visibility: visible;
}

.main-nav__item:hover > .main-nav__link[href] {
  color: #333333;

  background-color: #f7f6f3;
}

.main-nav__item:focus-within > .main-nav__link[href] {
  color: #333333;

  background-color: #f7f6f3;
}

.main-nav__dropdown-item {
  margin-bottom: 3px;
}

.main-nav__dropdown-item:last-child {
  margin-bottom: 8px;
}

.main-nav__dropdown-item:first-child .main-nav__dropdown-link {
  position: relative;

  padding-top: 10px;
  padding-bottom: 13px;
  font-weight: 700;
}

.main-nav__dropdown-item:first-child .main-nav__dropdown-link::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;

  display: block;
  height: 1px;

  background-color: rgba(50, 50, 50, 0.2);
}

.main-nav__dropdown-link {
  display: block;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 16px;
  color: #323232;

  outline: none;
}

.main-nav__dropdown-link[href]:hover,
.main-nav__dropdown-link[href]:focus {
  background-color: #fbded7;
}

.main-nav__dropdown-link[href]:active {
  background-color: #f6b5a5;
}

.main-nav__dropdown-link--active {
  color: #ffffff;

  background-color: #d07058;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 293px;
  margin-top: 14px;
}

.user-block__item {
  position: relative;

  padding-bottom: 6px;
  margin-left: 10px;
}

.user-block__link {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 9px;
  padding-left: 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;

  outline: none;
}

.user-block__link--only-icon {
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-left: 16px;

  border-radius: 50%;
}

.user-block__link:hover,
.user-block__link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__link-icon {
  position: absolute;
  top: 6px;
  left: 16px;

  fill: #ffffff;
}

.user-block__link--only-icon .user-block__link-icon {
  top: 7px;
  left: 8px;
}

.user-block__link:hover .user-block__link-icon,
.user-block__link:focus .user-block__link-icon {
  fill: #000000;
}

.user-block__link--cart-filled {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__link--cart-filled::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  z-index: 1;

  width: 21px;
  height: 20px;

  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
  background-size: 21px 20px;
  background-position: 0 0;
}

.user-block__link--cart-filled:hover .user-block__link-icon,
.user-block__link--cart-filled:focus .user-block__link-icon {
  fill: #ffffff;
}

.search-form,
.authorization-form,
.cart {
  color: #323232;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search-form {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  width: 341px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;

  visibility: hidden;
}

.search-form__input,
.authorization-form__input {
  min-height: 44px;
  padding-right: 14px;
  padding-left: 14px;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-form__input:hover,
.authorization-form__input:hover {
  padding-left: 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form__input:focus,
.authorization-form__input:focus {
  padding-left: 13px;

  border: 2px solid rgba(46, 136, 228, 0.52);
}

.search-form__input {
  width: 311px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-form__input::-webkit-input-placeholder,
.authorization-form__input::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}

.search-form__input:-ms-input-placeholder,
.authorization-form__input:-ms-input-placeholder {
  color: rgb(153, 153, 153);
}

.search-form__input::-ms-input-placeholder,
.authorization-form__input::-ms-input-placeholder {
  color: rgb(153, 153, 153);
}

.search-form__input::placeholder,
.authorization-form__input::placeholder {
  color: rgb(153, 153, 153);
}

.authorization-form {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 277px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;

  visibility: hidden;
}

.authorization-form__input {
  width: 241px;
  margin-bottom: 20px;
}

.authorization-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.authorization-form__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 102px;
  margin-left: -1px;
  margin-right: 20px;
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 9px;
  padding-left: 25px;

  outline: none;
}

.authorization-form__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 120px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.authorization-form__links-item {
  margin-top: -4px;
}

.authorization-form__links-item:first-child {
  margin-top: -2px;
}

.authorization-form__link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);

  outline: none;
}

.authorization-form__link:hover,
.authorization-form__link:focus,
.authorization-form__link:active {
  color: #e84d37;
  border-color: rgba(232, 77, 55, 0.3);
}

.cart {
  position: absolute;
  top: 36px;
  right: -1px;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
  padding-top: 19px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 14px;

  visibility: hidden;
}

.cart__goods {
  width: 100%;

  font-size: 13px;
  line-height: 16px;

  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.cart__goods tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__goods tr {
  min-height: 53px;
}

.cart__goods tr:last-child {
  min-height: 58px;
}

.cart__goods td {
  padding-top: 9px;
  vertical-align: top;
}

.cart__delete {
  position: relative;

  width: 23px;
  height: 23px;
  padding: 6px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.cart__delete::before,
.cart__delete::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  display: block;
  width: 15px;
  height: 1px;

  background-color: #231f20;
}

.cart__delete::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart__delete::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart__delete:hover::before,
.cart__delete:hover::after,
.cart__delete:focus::before,
.cart__delete:focus::after {
  background-color: #e84d37;
}

.cart__image-wrapper {
  width: 33px;
  height: 33px;

  border-radius: 50%;
  overflow: hidden;
}

.cart__image {
  width: 33px;
  height: 33px;
}

.cart__goods td:first-child {
  width: 27px;
}

.cart__goods td:nth-child(2) {
  width: 46px;
  padding-top: 0;
}

.cart__title {
  width: 247px;
  padding-right: 15px;
}

.cart__weight {
  width: 122px;
  padding-right: 10px;
}

.cart__weight span {
  color: rgb(153, 153, 153);
}

.cart__total-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 13px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.cart__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 1px;
}

.user-block__item:hover > .user-block__dropdown,
.user-block__dropdown:hover {
  visibility: visible;
}

.user-block__item:focus-within > .user-block__dropdown {
  visibility: visible;
}

.user-block__item:hover > .user-block__link {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__item:focus-within > .user-block__link {
  color: #323232;

  background-color: #f8f7f4;
}

.user-block__item:hover .user-block__link-icon {
  fill: #000000;
}

.user-block__item--cart-filled:hover .user-block__link-icon {
  fill: #ffffff;
}

.user-block__item:focus-within .user-block__link-icon {
  fill: #000000;
}

.user-block__item--cart-filled:focus-within .user-block__link-icon {
  fill: #ffffff;
}

.slider {
  position: relative;

  padding-left: 27px;
  padding-right: 27px;
  margin-top: -34px;
}

.slider__controls {
  position: absolute;
  top: 480px;
  left: 27px;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.slider__controls label {
  width: 21px;
  height: 21px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider__controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider__controls label:last-child {
  margin-right: 0;
}

#btn-1:checked ~ .index-wrapper label[for="btn-1"],
#btn-2:checked ~ .index-wrapper label[for="btn-2"],
#btn-3:checked ~ .index-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url(../img/decor/bg-slide-1.png);
}

#btn-2:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url(../img/decor/bg-slide-2.png);
}

#btn-3:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/decor/bg-slide-3.png);
}

.slider__list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1146px;
  min-height: 564px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1164px;
  min-height: 564px;
  padding-top: 307px;
  padding-right: 18px;
  padding-bottom: 42px;

  text-align: center;
  visibility: hidden;
}

.slider__img {
  position: absolute;
  top: 0;
  left: 250px;
}

.slider__title {
  z-index: 1;

  width: 670px;
  margin: 0;
  margin-bottom: 33px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider__button {
  z-index: 1;

  padding-top: 8px;
  padding-left: 42px;
  padding-bottom: 10px;
  padding-right: 42px;

  font-size: 32px;
  line-height: 44px;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 30px;
}

#btn-1:checked ~ .index-wrapper #slide-1 {
  position: relative;
  visibility: visible;
}

#btn-2:checked ~ .index-wrapper #slide-2 {
  position: relative;
  visibility: visible;
}

#btn-3:checked ~ .index-wrapper #slide-3 {
  position: relative;
  visibility: visible;
}

.promo {
  position: relative;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 27px;
  padding-left: 27px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding-top: 15px;
  padding-right: 21px;
  padding-bottom: 23px;
  padding-left: 18px;
  margin-bottom: 40px;

  border-radius: 15px;
}

.banner--raspberry {
  background-color: #92172e;
  background-image: url(../img/decor/bg-raspberry.jpg);
  background-repeat: no-repeat;
  background-position: -50px -93px;
}

.banner--choco {
  background-color: #52372b;
  background-image: url(../img/decor/bg-choco.jpg);
  background-repeat: no-repeat;
  background-position: -218px -104px;
}

.banner__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.banner__text {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.banner__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 30px;
  padding-top: 9px;

  border-radius: 22px;
}

.banner--raspberry .banner__button {
  padding-right: 25px;
}

.catalog {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
}

.catalog--inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 27px;
  right: 27px;

  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 29px;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.good-card {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 267px;

  color: #ffffff;
}

.good-card:hover::after,
.good-card:focus::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 1;

  width: 293px;
  height: calc(100% + 72px);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.good-card:focus-within::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 1;

  width: 293px;
  height: 405px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.good-card--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 61px 61px;
}

.good-card__image-wrapper {
  width: 267px;
  height: 267px;
  margin-bottom: 12px;

  border-radius: 50%;

  overflow: hidden;
}

.good-card__price {
  position: absolute;
  top: 209px;
  left: 0;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;

  text-shadow: rgba(49, 50, 53, 0.5) 2px 1px 3px;
}

.good-card__weight {
  margin-top: 5px;

  font-size: 30px;
}

.good-card__currency-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 35px;
  margin-right: 2px;
  margin-left: 4px;

  background-color: transparent;
  background-image: url("../img/content/ruble.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.good-card__title {
  width: 267px;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.good-card__link {
  position: relative;
  z-index: 2;

  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  outline: none;
}

.good-card__link:hover,
.good-card__link:focus,
.good-card__link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.good-card__button {
  position: absolute;
  left: 50%;
  bottom: -44px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;

  width: 200px;
  padding-left: 16px;
  padding-right: 16px;

  visibility: hidden;
}

.good-card:hover .good-card__button {
  visibility: visible;
}

.good-card:focus-within .good-card__button {
  visibility: visible;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 27px;
  margin-bottom: 40px;
  margin-left: 27px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;

  color: #323232;

  background-color: #e8daba;
  background-image: url("../img/decor/pattern-waffle.jpg");
  background-repeat: repeat;
  border-radius: 13px;
}

.about__title {
  margin: 0;
  margin-bottom: 9px;

  font-size: 24px;
  line-height: 30px;
}

.about__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__feature {
  position: relative;

  width: 540px;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 56px;
}

.about__feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 49px 49px;
}

.about__feature--icecream::before {
  background-image: url("../img/svg/ice-cream.svg");
}

.about__feature--cow::before {
  background-image: url("../img/svg/cow.svg");
}

.about__feature--eco::before {
  background-image: url("../img/svg/eco.svg");
}

.about__feature--thermometer::before {
  background-image: url("../img/svg/thermometer.svg");
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 27px;
  padding-left: 27px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 560px;
  min-height: 220px;
  margin-bottom: 39px;
  padding-top: 22px;
  padding-right: 19px;
  padding-bottom: 20px;
  padding-left: 19px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/decor/bg-stawberry-cream.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 13px;
}

.blog__title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog__link span {
  position: relative;
}

.blog__link span::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;

  height: 2px;
  background-color: #323232;
}

.blog__link span:nth-child(2)::after {
  bottom: 2px;
}

.blog__link span:nth-child(3)::after {
  bottom: 3px;
}

.blog__link:hover,
.blog__link:focus,
.blog__link:active {
  color: #e84d37;
}

.blog__link:hover span::after,
.blog__link:focus span::after,
.blog__link:active span::after {
  background-color: #e84d37;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  margin-bottom: 39px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 6px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: url("../img/svg/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 210px;
  padding-top: 28px;
  padding-right: 21px;
  padding-bottom: 28px;
  padding-left: 21px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 37px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscribe__input {
  width: 368px;
  min-height: 44px;
  margin-right: 11px;
  padding-right: 12px;
  padding-left: 12px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subscribe__input:hover {
  padding-left: 11px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe__input:focus {
  padding-left: 11px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscribe__input::-webkit-input-placeholder {
  color: #999999;
}

.subscribe__input:-ms-input-placeholder {
  color: #999999;
}

.subscribe__input::-ms-input-placeholder {
  color: #999999;
}

.subscribe__input::placeholder {
  color: #999999;
}

.subscribe__button {
  padding-top: 8px;
  padding-right: 19px;
  padding-bottom: 11px;
  padding-left: 17px;
}

.contacts {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  position: relative;
  z-index: 1;
  border: none;
}

.contacts__map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 430px;
}

.contacts__wrapper {
  position: absolute;
  top: 63px;
  right: 27px;
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 302px;
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fdfefe;
  border-radius: 13px;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 17px;
}

.contacts__address-title {
  margin-bottom: 2px;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__phone-title {
  margin-bottom: 2px;
}

.contacts__phone-title {
  margin-bottom: 6px;
}

.contacts__text--big {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone .contacts__text--big {
  margin-bottom: 2px;

  line-height: 22px;
}

.contacts__button {
  padding-top: 9px;
  padding-right: 26px;
  padding-left: 29px;
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
  left: 27px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin: 0;
  margin-top: -22px;
  margin-bottom: 2px;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 22px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "»";
  position: absolute;
  top: 1px;
  right: 10px;

  width: 5px;
  height: 6px;

  color: #ffffff;
}

.breadcrumbs__link {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  -webkit-transition: all 0.2s ease-in-out;

  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}

.breadcrumbs__link[href]::after {
  content: "";
  display: block;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs__link[href]:hover,
.breadcrumbs__link[href]:focus,
.readcrumbs__link:active {
  color: #ffbc9e;
}

.breadcrumbs__link[href]:hover::after,
.breadcrumbs__link[href]:focus::after,
.breadcrumbs__link:active::after {
  background-color: rgba(255, 188, 158, 0.3);
}

.main__title {
  margin: 0;
  margin-bottom: 27px;
  padding-right: 27px;
  padding-left: 27px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 879px;
  margin-bottom: 25px;
}

.filters__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding: 0;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;

  border: none;
}

.filters__legend {
  padding-left: 17px;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filters__select-wrapper {
  position: relative;

  width: 193px;

}

.filters__select-icon {
  position: absolute;
  top: 0;
  right: -1px;

  width: 32px;
  height: 36px;

  background-color: #9db1a5;
  background-image: url(../img/svg/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 7px 13px;
  background-size: 11px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  pointer-events: none;
}

.filters__select {
  width: 100%;
  height: 36px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters__select:hover {
  color: #323232;
}

.filters__select:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters__select:hover ~ .filters__select-icon {
  background-image: url(../img/svg/icon-down-dir-hover.svg);
}

.filters__select:focus ~ .filters__select-icon {
  background-color: #ffffff;
  background-image: url(../img/svg/icon-down-dir-hover.svg);
}

.filters__select option {
  font-weight: 400;
  font-size: 14px;
  line-height: 16;
  color: #323232;
}

.filters__select option:hover,
.filters__select option:focus,
.filters__select option:selected {
  color: #323232;

  background-color: #1e90ff;
}

.range {
  width: 218px;
  padding-top: 16px;
  padding-right: 21px;
  padding-bottom: 16px;
  padding-left: 21px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range__bar {
  position: relative;

  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

.range__between-bar {
  position: absolute;
  left: 14px;

  width: 118px;
  height: 4px;
  background-color: #f8f7f4;
}

.range__button {
  position: absolute;
  top: 50%;
  margin-top: -10px;

  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.range__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;
}

.range__button--from {
  left: 14px;
}

.range__button--to {
  left: 112px;
}

.range__button:hover,
.range__button:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.range__button:hover::before,
.range__button:focus::before {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-right: 14px;
  padding-left: 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  list-style: none;
}

.filters__item {
  margin-right: 17px;
  margin-bottom: 7px;
}

.filters__item:last-child {
  margin-right: 0;
}

.filters__label {
  position: relative;

  padding-left: 32px;

  font-weight: 500;
  line-height: 18px;

  cursor: pointer;
}

.filters__list--checkbox .filters__label {
  padding-right: 4px;
}

.filters__indicator {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 22px;
  height: 22px;

  border: 4px solid #ffffff;
  opacity: 0.8;
}

.filters__indicator--radio {
  border-radius: 50%;
}

.filters__indicator--checkbox {
  width: 20px;
  height: 20px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filters__input-radio:checked ~ .filters__indicator--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filters__input-checkbox:checked ~ .filters__indicator--checkbox {
  border-color: transparent;
}

.filters__input-checkbox:checked ~ .filters__indicator--checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  width: 24px;
  height: 20px;

  background-image: url(../img/svg/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 24px 20px;
  opacity: 0.8;
}

.filters__label:hover > .filters__indicator,
.filters__label:hover > .filters__indicator::before,
.filters__input-checkbox:focus ~ .filters__indicator,
.filters__input-radio:focus ~ .filters__indicator,
.filters__input-checkbox:focus ~ .filters__indicator--checkbox::before,
.filters__input-radio:focus ~ .filters__indicator--radio::before {
  opacity: 1;
}

.filters__label:active > .filters__indicator,
.filters__label:active > .filters__indicator::before {
  opacity: 0.4;
}

.filters__button {
  padding-top: 7px;
  padding-right: 28px;
  padding-bottom: 7px;
  padding-left: 25px;
  margin-top: 23px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 15px;
  outline: none;

  -webkit-transition: all 0.2s ease-in-out;

  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.filters__button:hover,
.filters__button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters__button:active {
  padding-top: 9px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 27px;

  color: #323232;

  background-color: #eaeaea;
  border: none;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  margin-top: 42px;
  margin-right: -9px;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 3px;
}

.pagination__item:first-child {
  margin-right: 8px;
}

.pagination__item:last-child {
  margin-left: 6px;
  margin-right: 0;
}

.pagination__link,
.pagination__button {
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 9px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 50%;
}

.pagination__link[href]:hover,
.pagination__link:focus,
.pagination__button[href]:hover,
.pagination__button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link[href]:active,
.pagination__button[href]:active,
.pagination__link--current {
  color: #323232;

  background-color: #ffffff;
}

.pagination__button--left .pagination__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__icon {
  fill: #ffffff;
}

.pagination__button:not([href]) .pagination__icon {
  fill-opacity: 0.2;
}

.pagination__button:active .pagination__icon {
  fill: #323232;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 23px;
  padding-left: 27px;
}

.page-footer__socials {
  max-width: 267px;
  margin-top: 18px;
}

.socials,
.page-footer__links-list {
  margin: 0;
  padding: 0;

  font-size: 13px;

  list-style: none;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials__item {
  margin-right: 12px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  position: relative;

  display: block;
  width: 38px;
  height: 38px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.socials__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 32px;
  opacity: 0.8;
}

.socials__link--tw::before {
  background-image: url(../img/svg/twitter.svg);
}

.socials__link--inst::before {
  background-image: url(../img/svg/instagram.svg);
}

.socials__link--fb::before {
  background-image: url(../img/svg/fb.svg);
}

.socials__link--vk::before {
  background-image: url(../img/svg/vk.svg);
}

.socials__link:hover,
.socials__link:focus,
.socials__link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.socials__link:hover::before,
.socials__link:focus::before,
.socials__link:active::before  {
  opacity: 1;
}

.page-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 347px;
  max-width: 560px;
  margin-top: 13px;
}

.page-footer__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-footer__links-item {
  padding-right: 10px;
  padding-left: 22px;
}

.page-footer__link {
  position: relative;

  line-height: 18px;
  color: #ffffff;

  outline: none;
}

.page-footer__link-icon {
  position: absolute;
  top: 3px;
  left: -21px;

  fill: #ffffff;
}

.page-footer__link--supplier {
  font-weight: 700;
}

.page-footer__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.page-footer__link:hover,
.page-footer__link:focus,
.page-footer__link:active {
  color: #ffbc9e;
}

.page-footer__link:hover::after,
.page-footer__link:focus::after,
.page-footer__link:active::after {
  background-color: rgba(255, 188, 158, 0.3);
}

.page-footer__link:hover .page-footer__link-icon,
.page-footer__link:focus .page-footer__link-icon,
.page-footer__link:active .page-footer__link-icon {
  fill: #ffbc9e;
}

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 267px;
}

.page-footer__academy-link {
  width: 108px;
  height: 39px;
  background-image: url(../img/svg/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 108px 39px;
}

.page-footer__academy-link:hover,
.page-footer__academy-link:focus {
  opacity: 0.7;
}

.page-footer__text {
  margin: 0;
  margin-top: 1px;

  font-size: 12px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -221px;
  margin-left: -234px;
  z-index: 4;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 477px;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.popup--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-animation-name: fade;

          animation-name: fade;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.popup--error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.popup__title {
  margin: 0;
  margin-bottom: 19px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.popup__button {
  position: absolute;
  top: 13px;
  right: 13px;

  width: 23px;
  height: 23px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup__button::before,
.popup__button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;

  height: 2px;
  background-color: #000000;
}

.popup__button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__button:hover::before,
.popup__button:hover::after,
.popup__button:focus::before,
.popup__button:focus::after,
.popup__button:active::before,
.popup__button:active::after {
  background-color: #e84d37;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message__input {
  width: 267px;
  min-height: 44px;
  margin-bottom: 20px;
  padding-right: 14px;
  padding-left: 14px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.message__textarea {
  width: 100%;
  height: 155px;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;
  margin-bottom: 25px;

  line-height: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  outline: none;
  resize: none;
}

.message__input::-webkit-input-placeholder,
.message__textarea::-webkit-input-placeholder {
  color: #999999;
}

.message__input:-ms-input-placeholder,
.message__textarea:-ms-input-placeholder {
  color: #999999;
}

.message__input::-ms-input-placeholder,
.message__textarea::-ms-input-placeholder {
  color: #999999;
}

.message__input::placeholder,
.message__textarea::placeholder {
  color: #999999;
}

.message__input:hover,
.message__textarea:hover {
  padding-left: 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.message__input:focus,
.message__textarea:focus {
  padding-left: 13px;

  border: 2px solid rgba(46, 136, 228, 0.52);
}

.message__textarea:hover,
.message__textarea:focus {
  padding-top: 6px;
  padding-right: 13px;
}

.message__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  display: none;

  background-color: rgba(0, 0, 0, 0.3);
}

.overlay--show {
  display: block;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
